body {
    background-color: aliceblue;
}

.portfoliopics {
    background-color: white;
    padding-top: 15pt;
    padding-bottom: 15pt;
    text-align: center;
    vertical-align: middle;
}

.img-thumbnail {
  width: 150px;
  height: 150px;
}

.img-thumbnail:hover {
  border-style: groove;
  border-width: 2px;
  border-color: turquoise;
  background-color: turquoise;
  height: 170px;
  width: 170px;       
}

h4 {
  font-size: medium;
  color: black;
  background-color: rgb(230, 253, 244);
  width: 170px;
  border-style: ridge;
  border-color: black;
  border-width: 1px;
  }

h3 {
  font-family: cursive;
}

  .rowheight {
    height: 220px;
  }

  footer {
    text-align: center;
    background-color: black;
    color: white;
  }



@media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  
  /* Additional Screen Sizes */
  
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }



    .alert-primary {
      width: 180px;
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #main-content,
    #sidebar {
      width: 100%;
    }
  
    #sidebar {
      margin-top: 40px;
    }
  }
  