body {
    background-color: aliceblue;
}

.portfoliopics {
    background-color: white;
    padding-top: 15pt;
    padding-bottom: 15pt;
    text-align: center;
    vertical-align: middle;
}

.img-thumbnail {
  width: 150px;
  height: 150px;
}

.img-thumbnail:hover {
  border-style: groove;
  border-width: 2px;
  border-color: turquoise;
  background-color: turquoise;
  height: 170px;
  width: 170px;       
}

h4 {
  font-size: medium;
  color: black;
  background-color: rgb(230, 253, 244);
  width: 170px;
  border-style: ridge;
  border-color: black;
  border-width: 1px;
  }

h3 {
  font-family: cursive;
}

  .rowheight {
    height: 220px;
  }

  footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-family: cursive;
  }

  .mainimage {
    width: 300px;
    height: 400px";
  }

@media screen and (max-width: 993px) {
    
  body {
      background-color: rgba(51, 51, 51, 0.877);
      margin left: 20px;
      margin right: 20px;
      border-left: 20px;
      border-right: 20px;
    }

    .mobilerow {
      display: initial;
    }

  
  .mainimage {
    width: 150px;
    height: 200px;
    display: none;
  }

  .card-text, li{
    font-size: small;
  }

  .portfoliopics {
    background-color: white;
    padding-top: 3pt;
    padding-bottom: 3pt;
    text-align: center;
    vertical-align: middle;
}

.img-thumbnail {
  width: 100px;
  height: 100px;
}

.img-thumbnail:hover {
  border-style: groove;
  border-width: 1px;
  border-color: turquoise;
  background-color: turquoise;
  height: 110px;
  width: 110px;       
}

.rowheight {
  height: 150px;
  width: 250px;
}

.rightcolumn {
  display: none;
}

}
  
    